<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodloop.foodloopapps">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodLoopApps">
        <activity android:name=".ui.changepassword.ChangePasswordActivity"
            android:parentActivityName=".ui.changepassword.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.changepassword.ChangePasswordActivity" />
        </activity>
        <activity
            android:name=".ui.editprofil.EditProfilActivity"
            android:parentActivityName=".ui.editprofil.EditProfilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.editprofil.EditProfilActivity" />
        </activity>
        <activity
            android:name=".ui.detailactivity.DetailBreadActivity"
            android:parentActivityName=".ui.detailactivity.DetailBreadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.detailactivity.DetailBreadActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.foodloop.foodloopapps.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.menu.MenuLoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mainactivity.MainActivity" />
    </application>

</manifest>